@{
    ViewBag.Title = "Product Store";
}

@section scripts { 
    <style type="text/css">
        table
        {
            border: 1px solid #000;
            border-collapse: collapse;
            color: #666666;
            min-width: 200px;
        }
        
        tr
        {
            border: 1px solid #000;
            line-height: 25px;
        }
        
        th
        {
            background-color: #B1C3CC;
            color: #000;
            font-size: 13px;
            text-align: left;
        }
        
        th, td
        {
            padding-left: 5px;
        }
        
    </style>

    <script src="@Url.Content("~/Scripts/jquery-1.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.0.0.debug.js")" type="text/javascript"></script>
    <script type="text/javascript">

        function clearStatus() {
            $('#status').html('');
        }

        var detailModel = function () {
            this.Name = ko.observable();
            this.Category = ko.observable();
            this.Price = ko.observable();
        }

        var API_URL = "api/products/";

        var viewModel = new detailModel();

        function add() {

            clearStatus();

            var product = ko.toJS(viewModel);
            var json = JSON.stringify(product);

            $.ajax({
                url: API_URL,
                cache: false,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: json,
                statusCode: {
                    201 /*Created*/: function (data) {
                        self.products.push(data);
                    }
                }
            });
        }


        function find() {

            clearStatus();

            var id = $('#productId').val();

            $.getJSON(API_URL + id,
            function (data) {
                viewModel.Name(data.Name);
                viewModel.Category(data.Category);
                viewModel.Price(data.Price);
            })
        .fail(
            function (xhr, textStatus, err) {
                $('#status').html('Error: ' + err);
            });
        }

        function update() {
            clearStatus();

            var id = $('#productId').val();

            var product = ko.toJS(viewModel);
            var json = JSON.stringify(product);

            $.ajax({
                url: API_URL + id,
                cache: false,
                type: 'PUT',
                contentType: 'application/json; charset=utf-8',
                data: json,
                success: function () { $.getJSON(API_URL, self.products.update); }
            })
            .fail(
            function (xhr, textStatus, err) {
                $('#status').html('Error: ' + err);
            });
        }

        $(document).ready(function () {

            self.products = ko.observableArray();

            self.products.update = function (data) {
                var c = self.products;
                c.removeAll();
                c.push.apply(c, data);
                // Sort by ID
                c.sort(
                        function (left, right) { return left.Id - right.Id }
                        );
            };


            ko.applyBindings(self.products, document.getElementById('products'));
            ko.applyBindings(viewModel, document.getElementById('detail'));

            $.getJSON(API_URL, self.products.update);

        });


    </script>

} 


<div id="body">
    <section class="content-wrapper main-content">
        <h3>Products</h3>

        <table id="products">
        <thead>
            <tr><th>ID</th><th>Name</th><th>Category</th><th>Price</th></tr>
        </thead>
        <tbody data-bind="foreach: products">
            <tr>
                <td data-bind="text: Id"></td>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Category"></td>
                <td data-bind="text: Price"></td>
            </tr>
        </tbody>
        </table>

    </section>
    <section id="detail" class="content-wrapper">
        <h3>View Product</h3>

        <div>
        <label for="productId">ID</label>
        <input type="text" title="ID" id="productId" size="5"/>
        <input type="button" value="Get" onclick="find();" />
        </div>

        <div>
        <label for="name">Name</label>
        <input data-bind="value: Name" type="text" title="Name" id="name" />
        </div>

        <div>
        <label for="category">Category</label>
        <input data-bind="value: Category" type="text" title="Category" id="category" />
        </div>

        <div>
        <label for="price">Price</label>
        <input data-bind="value: Price" type="text" title="Price" id="price" />
        </div>

        <div>
        <input type="button" value="Update" onclick="update();" />
        <input type="button" value="Add New" onclick="add();" />
        </div>

        <div>
        <p id="status"></p>
        </div>

    </section>
</div>

